body
{
margin: 0px;
padding: 0px;
}
#gal
{
position: absolute;
width: 100%;
height: 100%;
overflow:hidden;
}
#gal img
{
position: absolute;
cursor:pointer;
}
#images{
display:none;
}
